<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yincheng.njread.dao.mapper.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.qijianguo.reader.pojo.UserDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="register_mode" jdbcType="VARCHAR" property="registerMode" />
    <result column="third_party_id" jdbcType="VARCHAR" property="thirdPartyId" />
    <result column="ios_open_id" jdbcType="VARCHAR" property="iosOpenId" />
    <result column="android_open_id" jdbcType="VARCHAR" property="androidOpenId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="hannels" jdbcType="VARCHAR" property="hannels" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, name,real_name, gender, age, telphone, head_img_url, register_mode, third_party_id, ios_open_id, android_open_id, password, hannels,
    create_date, channel_id, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>